@import url(./reset.css);
@import url(./font.css);
@import url(./font.css);
@import url(./intro.css);
@import url(./chapters.css);
@import url(./notice.css);
@import url(./scope.css);
@import url(./price.css);
@import url(./process.css);
@import url(./form.css);
@import url(./portfolio.css);
@import url(./collab.css);
@import url(./copyright.css);
@import url(./policy.css);

body {
    scroll-behavior: smooth;
}

main {
    max-width: 1180px;
    margin: 0 auto;
}

html.isModalOpen,
html.isModalOpen body{
  overflow: hidden;
}